doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Flowers Shop
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='slick/slick.css')
		link(rel='stylesheet', href='css/style.css')

		script(src="js/jquery-2.2.0.js", type="text/javascript")
		script(src="slick/slick.min.js", type="text/javascript")
		script(src="js/scripts.js", type="text/javascript")

	body
		include includes/header

		.main-slider
			.main-slider__slide.main-slider__slide--blue
				.container
					.main-slider__wrapper
						.main-slider__img
							img(src="../img/bouquet-1.png")
						.main-slider__description
							.main-slider__header БУКЕТ<br> «СНЕЖНАЯ КОРОЛЕВА»
							.main-slider__price 3400 РУБ.
							.main-slider__links
								a.main-slider__link(href="#") В корзину
								a.main-slider__link(href="#") Купить в 1 клик
			.main-slider__slide.main-slider__slide--pink
				.container
					.main-slider__wrapper
						.main-slider__img
							img(src="../img/bouquet-2.png")
						.main-slider__description
							.main-slider__header БУКЕТ<br> «СНЕЖНАЯ КОРОЛЕВА»
							.main-slider__price 3400 РУБ.
							.main-slider__links
								a.main-slider__link(href="#") В корзину
								a.main-slider__link(href="#") Купить в 1 клик					
			.main-slider__slide.main-slider__slide--yellow
				.container
					.main-slider__wrapper
						.main-slider__img
							img(src="../img/bouquet-3.png")
						.main-slider__description
							.main-slider__header БУКЕТ<br> «СНЕЖНАЯ КОРОЛЕВА»
							.main-slider__price 3400 РУБ.
							.main-slider__links
								a.main-slider__link(href="#") В корзину
								a.main-slider__link(href="#") Купить в 1 клик

		.main-categories
			.container
				.main-categories__header Ассортимент
				.main-categories__wrapper
					.main-categories__row
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/flowers.png")
							.main-categories__title.main-categories__title--flower Цветы
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/buqouete.png")
							.main-categories__title.main-categories__title--flower Букеты
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/room.png")
							.main-categories__title.main-categories__title--flower Комнатные растения
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/baloons.png")
							.main-categories__title.main-categories__title--baloon Шары
					.main-categories__row
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/pigeons.png")
							.main-categories__title.main-categories__title--flower Свадебное оформление
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/toys.png")
							.main-categories__title.main-categories__title--toy Игрушки и сувениры
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/else.png")
							.main-categories__title.main-categories__title--flower Сопутствующие товары
						a.main-categories__item(href="#")
							.main-categories__img
								img(src="../img/catalog/opt.png")
							.main-categories__title.main-categories__title--baloon Опт

		.container
			.feedbacks__slider
				.feedbacks__item
					.feedbacks__header
						.feedbacks__image
							img(src="../img/feedback.jpg")
						.feedbacks__header-wrap
							.feedbacks__title Анастасия Смольная
							.feedbacks__subtitle директор вет. лабаратории
					.feedbacks__text Мы довольны работой, все очень аккуратно, качественно и быстро. Спасибо большое!
						span.feedbacks__date 01.01.2017
						a.feedbacks__readmore(href="#") Читать далее
				.feedbacks__item
					.feedbacks__header
						.feedbacks__image
							img(src="../img/feedback.jpg")
						.feedbacks__header-wrap
							.feedbacks__title Анастасия Смольная
							.feedbacks__subtitle директор вет. лабаратории
					.feedbacks__text Мы довольны работой, все очень аккуратно, качественно и быстро. Спасибо большое!
						span.feedbacks__date 01.01.2017
						a.feedbacks__readmore(href="#") Читать далее
				.feedbacks__item
					.feedbacks__header
						.feedbacks__image
							img(src="../img/feedback.jpg")
						.feedbacks__header-wrap
							.feedbacks__title Анастасия Смольная
							.feedbacks__subtitle директор вет. лабаратории
					.feedbacks__text Мы довольны работой, все очень аккуратно, качественно и быстро. Спасибо большое!
						span.feedbacks__date 01.01.2017
						a.feedbacks__readmore(href="#") Читать далее
				.feedbacks__item
					.feedbacks__header
						.feedbacks__image
							img(src="../img/feedback.jpg")
						.feedbacks__header-wrap
							.feedbacks__title Анастасия Смольная
							.feedbacks__subtitle директор вет. лабаратории
					.feedbacks__text Мы довольны работой, все очень аккуратно, качественно и быстро. Спасибо большое!
						span.feedbacks__date 01.01.2017
						a.feedbacks__readmore(href="#") Читать далее

		include includes/footer




