doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Flowers Shop
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')

		//- script(src="script/jquery-2.2.0.js", type="text/javascript")
		//- script(src="script/scripts.js", type="text/javascript")

	body
		.container
			header.header
				a.logo(href="/")
					img(src="img/header_logo.png")

				ul.header-menu
					li.header-menu__item
						a.header-menu__link(href="#") Отзывы
					li.header-menu__item
						a.header-menu__link(href="#") Доставка и оплата
					li.header-menu__item
						a.header-menu__link(href="#") Ответы на вопросы
					li.header-menu__item
						a.header-menu__link(href="#") О компании
					li.header-menu__item
						a.header-menu__link(href="#") Наши магазины

				form.search
					input.search__input(type="text")
					input.search__submit(type="submit")

				.cart
					.cart__img
					span.cart__total 1500 РУБ.

				ul.cards
					li.cards__item.cards__item--maestro
					li.cards__item.cards__item--visa

				ul.contacts
					li.contacts__item +7 (812) 930 65 20
					li.contacts__item +7 (812) 930 65 20

		.submenu
			.container
				ul.submenu__list
					li.submenu__item
						a.submenu__link(href="#") Цветы
					li.submenu__item
						a.submenu__link(href="#") Букеты
					li.submenu__item
						a.submenu__link(href="#") Комнатные растения
					li.submenu__item
						a.submenu__link(href="#") Свадебное оформление
					li.submenu__item
						a.submenu__link(href="#") Шары
					li.submenu__item
						a.submenu__link(href="#") Игрушки и сувениры
					li.submenu__item
						a.submenu__link(href="#") Сопутствующие товары
					li.submenu__item
						a.submenu__link(href="#") Опт

		.container
			main.content
				.content__main-header
					h1 Элитные цветы с доставкой в Санкт-Петербурге
				p Бутик цветов Newflora в Санкт-Петербурге претендует на звание единственного по-настоящему элитного цветочного заведения в Санкт-Петербурге. Компания предлагает доставку цветов в костюмах, массу необычных цветов и высокий уровень обслуживания. Если вы искали цветы VIP уровня или цветочный бутик ВИП класса, то это Newflora - приезжайте к нам, чтобы в этом убедиться! У нас вряд ли возможно купить цветы дешево. Скорее, у нас возможно купить цветы дорого, получив красивый и комфортный сервис. Компания Newflora занимается элитными цветами, дорогими сортами роз, цветочным эксклюзивом и классической флористикой.
