doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Template
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')

	body
		include includes/header

		.container
			main.content
				.wrapper
					.content__main-header
						h1 Элитные цветы с доставкой в Санкт-Петербурге
					p Бутик цветов Newflora в Санкт-Петербурге претендует на звание единственного по-настоящему элитного цветочного заведения в Санкт-Петербурге. Компания предлагает доставку цветов в костюмах, массу необычных цветов и высокий уровень обслуживания. Если вы искали цветы VIP уровня или цветочный бутик ВИП класса, то это Newflora - приезжайте к нам, чтобы в этом убедиться! У нас вряд ли возможно купить цветы дешево. Скорее, у нас возможно купить цветы дорого, получив красивый и комфортный сервис. Компания Newflora занимается элитными цветами, дорогими сортами роз, цветочным эксклюзивом и классической флористикой.

					.content__links
						a.content__link(href="#") Открыть каталог
						a.content__link(href="#") Читать далее

					h2.header-2--blue бутик цветов<br> в Санкт-Петербурге

					.content__video-wrapper
						.content__video
						.content__video

					.content__block
						.content__text
							h2 Чем мы отличаемся от других? Нас Выбирают! Нас рекомендуют!
							p Эксклюзивные букеты это отличный выбор в том случае если вы сами не умеете или сомневаетесь в своих силах в подборе своего подарка. Если вы хотите сделать сюрприз своей нежно любимой жене или подруге по университету, а может у вашей соседки близится юбилей или ваша начальница выходит замуж, может быть вы хотите извиниться перед мамой за то, что недавно нагрубили ей или у вашей сестры родился ребенок и вы не знаете, как вам лучше поступить, какой букет на заказ больше подойдет к данному событию, то непременно обращайтесь в наш магазин.
						img.content__img--right(src="../img/video.jpg")

					.content__block
						img.content__img--left(src="../img/video.jpg")
						.content__text
							h2 Чем мы отличаемся от других? Нас Выбирают! Нас рекомендуют!
							p Эксклюзивные букеты это отличный выбор в том случае если вы сами не умеете или сомневаетесь в своих силах в подборе своего подарка. Если вы хотите сделать сюрприз своей нежно любимой жене или подруге по университету, а может у вашей соседки близится юбилей или ваша начальница выходит замуж, может быть вы хотите извиниться перед мамой за то, что недавно нагрубили ей или у вашей сестры родился ребенок и вы не знаете, как вам лучше поступить, какой букет на заказ больше подойдет к данному событию, то непременно обращайтесь в наш магазин.

					.content__block.content__block--banner
						img.content__img--left(src="../img/estel.jpg")
						.content__text
							h2.header-2--lightblue Мероприятие салона красоты Estel
							p Только для вас наши профессиональные флористы с радостью составят уникальный букет, с точностью повторив все ваши требования. Мы сможем посоветовать вам, какие букеты стоит купить на тот или иной праздник, как лучше сочетать между собой цветы

					h2.header-2--center Элитные цветы с доставкой в Санкт-Петербурге
					p Бутик цветов Newflora в Санкт-Петербурге претендует на звание единственного по-настоящему элитного цветочного заведения в Санкт-Петербурге. Компания предлагает доставку цветов в костюмах, массу необычных цветов и высокий уровень обслуживания. Если вы искали цветы VIP уровня или цветочный бутик ВИП класса, то это Newflora - приезжайте к нам, чтобы в этом убедиться! У нас вряд ли возможно купить цветы дешево. Скорее, у нас возможно купить цветы дорого, получив красивый и комфортный сервис. Компания Newflora занимается элитными цветами, дорогими сортами роз, цветочным эксклюзивом и классической флористикой.

					ul.pagination
						li.pagination__item
							a.fa.fa-chevron-left(href="javascript:void(0)")
						li.pagination__item
							a.pagination__link(href="javascript:void(0)") 1
						li.pagination__item
							a.pagination__link(href="javascript:void(0)") 2
						li.pagination__item
							a.pagination__link(href="javascript:void(0)") 3
						li.pagination__item
							a.pagination__link(href="javascript:void(0)") 4
						li.pagination__item
							a.pagination__link(href="javascript:void(0)") 5
						li.pagination__item
							a.pagination__link(href="javascript:void(0)") 6
						li.pagination__item
							a.fa.fa-chevron-right(href="javascript:void(0)")

		include includes/footer




