footer.footer
	.container
		.footer__wrapper
			.logo.logo--footer
				img(src="../img/footer_logo.png")

			.footer__block
				ul.header-menu.header-menu--footer
					li.header-menu__item
						a.header-menu__link(href="#") Отзывы
					li.header-menu__item
						a.header-menu__link(href="#") Доставка и оплата
					li.header-menu__item
						a.header-menu__link(href="#") Ответы на вопросы
					li.header-menu__item
						a.header-menu__link(href="#") О компании
					li.header-menu__item
						a.header-menu__link(href="#") Наши магазины
				.footer__copyright Все права защищены 2009-2017

			ul.contacts.contacts--footer
				li.contacts__item +7 (812) 930 65 20
				li.contacts__item +7 (812) 930 65 20