.container
	header.header
		a.logo(href="/")
			img(src="img/header_logo.png")

		ul.header-menu
			li.header-menu__item
				a.header-menu__link(href="#") Отзывы
			li.header-menu__item
				a.header-menu__link(href="#") Доставка и оплата
			li.header-menu__item
				a.header-menu__link(href="#") Ответы на вопросы
			li.header-menu__item
				a.header-menu__link(href="#") О компании
			li.header-menu__item
				a.header-menu__link(href="#") Наши магазины

		form.search
			input.search__input(type="text")
			input.search__submit(type="submit")

		.cart
			.cart__img
			span.cart__total 1500 РУБ.

		ul.cards
			li.cards__item.cards__item--maestro
			li.cards__item.cards__item--visa

		ul.contacts
			li.contacts__item +7 (812) 930 65 20
			li.contacts__item +7 (812) 930 65 20

.submenu
	.container
		ul.submenu__list
			li.submenu__item
				a.submenu__link(href="#") Цветы
			li.submenu__item
				a.submenu__link(href="#") Букеты
			li.submenu__item
				a.submenu__link(href="#") Комнатные растения
			li.submenu__item
				a.submenu__link(href="#") Свадебное оформление
			li.submenu__item
				a.submenu__link(href="#") Шары
			li.submenu__item
				a.submenu__link(href="#") Игрушки и сувениры
			li.submenu__item
				a.submenu__link(href="#") Сопутствующие товары
			li.submenu__item
				a.submenu__link(href="#") Опт