@font-face {
  font-family: 'Candara-Bold';
  src: url('Candara-Bold.woff') format('woff'),
       url('Candara-Bold.ttf') format('truetype'),
       url('Candara-Bold.svg#Candara-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ofont.ru_Candara (2)';
  src: url('ofont.ru_Candara (2).eot');
  src: url('ofont.ru_Candara (2).woff2') format('woff2'),
       url('ofont.ru_Candara (2).eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

