.cart {
	display: flex;
	height: 32px;
	width: 96px;
	
	border: 2px solid #fff;
	border-radius: 7px;
	background: transparent;

	margin-top: 10px;
	align-items: center;
	padding-left: 5px;

	font-weight: bold;
	font-size: 11px;
	color: @dblue;

	&__img {
		width: 25px;
		height: 20px;
		background: url('../img/header_icons.png') no-repeat -8px -37px;
		margin-right: 5px;
	}
}