.footer {
	background: #000;
	padding: 15px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__block {
		font-weight: bold;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;

		@media @medium {
			order: 0;
			width: auto;
		}

		@media @small {
			order: 2;
			width: 100%;
		}

		@media @extrasmall {
			order: 2;
			width: 100%;
		}
	}
}