.submenu {
	background: @green;
	padding: 8px 0;

	&__list {
		display: flex;
		justify-content: space-around;

		list-style: none;

		padding: 0;
		margin: 0;
	}

	&__link {
		display: block;
		font-weight: bold;

		text-transform: uppercase;
		text-decoration: none;
		
		border: 2px solid transparent;
		color: #fff;

		@media @large {
			padding: 8px 18px;	
		}

		@media @medium {
			font-size: 12px;
			padding: 8px 15px;
		}

		@media @small {
			font-size: 11px;
			padding: 5px;
		}
	}

	&__item:hover a {
		border: 2px solid #fff;
		border-radius: 7px;
	}
}